/*图片放大专用*/
#jquery-overlay{position:absolute; top:0px; left:0px; z-index:10000; width:100%; height:500px;}
#jquery-lightbox{position:absolute; top:0px; left:0px; width:100%; z-index:10000; text-align:center; line-height:0px;}
#jquery-lightbox a img{border:none;}
#lightbox-container-image-box{position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto;}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height:0px;}
#lightbox-nav{position: absolute; top:0px; left:0px; height: 100%; width: 100%; z-index: 10;}
#lightbox-container-image-box > #lightbox-nav{left:0px;}
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext{width: 49%; height: 100%; zoom: 1; display: block;}
#lightbox-nav-btnPrev{left:0px; float: left;}
#lightbox-nav-btnNext{right: 0px; float: right;}
#lightbox-container-image-data-box {
font:10px Verdana, Helvetica, sans-serif; background-color:#fff; margin:0px auto; line-height:1.4em; overflow:auto; width:100%; padding:10px; padding-top:0px;}
#lightbox-container-image-data{padding:0px 1px; color: #666;}
#lightbox-container-image-data #lightbox-image-details{float:left; text-align:left; line-height:22px; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;}	
#lightbox-image-details-caption {font-weight:bold;}
#lightbox-image-details-currentNumber{display:none; position:absolute; left:-1000000000px; top:-10000000000px;}			
#footer{height:10px; margin:20px 0px 20px 0px; padding:6px 0px 11px 15px;}
#lightbox-secNav{float:right;}